body {  background-color: lightcyan;
        font-family: Bookman;
        border: 2px solid conflowerblue;
        padding: 10px;
        algin: center;}

body.nav {      color: royalblue;
                border: 2px solid cornflowerblue;
                padding: 10px; }
body.header {   color: crimson;
                align: center; }

h1  {   color: royalblue; }

div.day-box PREP {     color: royalblue;
                        border: 2px solid cornflowerblue;
                        padding: 10px; }

body.reading-box {      color: mediumturquoise;
                        border: 2px solid lightseagreen;
                        padding: 5px; }

body.assignment-label { font-size: 200%; }

body.reading {  color: mediumturquoise;
                border: 2px solid lightseagreen;
                padding: 5px; }

body.prep-box { color: lightcoral;
                border: 2px solid salmon; }

img {   width: 80px;
        height: 110px; }
