body {  background-color: lightcyan;
        font-family: Bookman;
        border: 2px solid conflowerblue;
        padding: 10px;
        algin: center; }

.username { color: darkcyan; }

.nav {  color: royalblue;
        border: 2px solid cornflowerblue;
        padding: 10px; }
.header { text-align: center; 
          padding: 10px; }

h1  {   color: royalblue; }

.day {  font-size: 125%; 
        color: crimson; }

.day-box.PREP { padding: 10px; 
                border: 5px solid lightcoral; }

.reading-box { color: mediumturquoise;
               border: 2px solid lightseagreen;
               padding: 10px; }

.assignment-label { font-size: 200%; }

.reading {  color: mediumturquoise;
            border: 2px solid lightseagreen;
            padding: 5px; }

.prep-box { color: lightcoral;
            border: 2px solid salmon; }

img {   width: 80px;
        height: 110px; }
