body 
{
        background-color: mediumblue;
        font-family: Bookman;
        padding: 10px;
        align: center; 
}
.header
{
        text-align: center;
        padding: 10px;
        background-color: khaki;
        border-radius: 10px;
}
.username
{
        color: saddlebrown; 
}
.nav
{
        padding: 10px;
}

.nav a
{
        border: 2px black;
        border-radius: 5px;
        background-image: url("aviator.jpeg");
        background-repeat: no-repeat;
        background-position: center center;
}

h1
{
        color: white; 
        text-align: center;
}
.day-box.PREP
{
        padding: 10px;
        margin: 10px;
        background-color: darkkhaki;
        border-radius: 10px;


}
.day-box PREP.day
{
        font-size: 125%;
        color: saddlebrown;
}
.day-box.PREP.reading-box
{
        border: 2px solid mediumblue;
        margin: 5px;
        border-radius: 10px;
        padding: 5px;
}
.reading
{
        border: 2px solid mediumblue;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        backgound-image: url("hand-2777669_1280.png");
        backgounr-repeat: no-repeat;
        background-position: left top;
}
.grading-box
{
        border: 2px solid mediumblue;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        backgound-image: url("hand-2777669_1280.png");
        backgounr-repeat: no-repeat;
        background-position: left top;
}
.lab-box
{
        border: 2px solid mediumblue;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        backgound-image: url("hand-2777669_1280.png");
        backgounr-repeat: no-repeat;
        background-position: left top;
}
.prep-box
{
        border: 2px solid mediumblue;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        backgound-image: url("hand-2777669_1280.png");
        backgounr-repeat: no-repeat;
        background-position: left top;
}
.day-box.PREP.reading.assignment-label
{
        color: saddlebrown;
        border: 2px solid mediumblue;
}
.day-box.PREP.readinglabel
{
        color: saddlebrown;
}
.day-box.PREP.prep-box
{
        border: 2px solid mediumblue;
        margin: 5px;
        border-radius: 10px;
        padding: 5px;
}
.day-box.PREP.prep-box
{
        border: 2px solid mediumblue;
        margin: 5px;
        border-radius: 10px;
        padding: 5px;
}
.day-box.CURRENT
{
        padding: 10px;
        margin: 10px;
        background-color: sienna;
        border-radius: 10px;
}
.day-box.CURRENT.day
{
        color: white;
        font-size: 125%;
}
.day-box.CURRENT.reading-box
{
        border: 2px solid mediumblue;
        margin: 5px;
        border-radius: 10px;
        padding: 5px; 
        color: khaki;
}
.day-box.CURRENT.reading.assignment-label
{
        color: white;
}
.day-box.CURRENT.prep-box
{
        color: khaki;
}
.day-box.CURRENT.lab-box
{
        color: khaki;
}
.day-box.COMPLETED
{
        padding: 10px;
        margin: 10px;
        background-color: sienna;
        border-radius: 10px;
        color: khaki;
}
.assignment-label
{
        font-size: 200%;
}
.reading
{
        color: khaki;
}
.prep-box
{
        padding: 5px;
        color: khaki;
}
.assignment_link
{
        color: khaki;
        padding: 5px;
}
img
{
        width: 80px;
        height: 110px;
}


.title { color: white;
        text-align: center;
        font-size: 20px;}

label { float: left;
        clear: left;
        color: white;
        margin: 5px;
        margin-bottom: 10px}

input { float: left;
        margin: 5px;
        margin-bottom: 10px}

.account_form img { float:left;
                    margin: 5px;
                    margin-bottom: 10px}

table th { color: khaki; }

table td { color: white; }
