body {  background-color: mediumblue;
        font-family: Bookman;
        padding: 10px;
        align: center; }

.username { color: saddlebrown; }

.nav { padding: 10px; }

.header { text-align: center; 
          padding: 10px; 
          background-image: url("glasses.jpg"); 
          background-color: khaki; }

h1  { color: white; }

.day {  font-size: 125%; 
        color: saddlebrown; }

.day-box.PREP { padding: 10px; 
                margin 10px;
                background-color: darkkhaki;}

.day-box.PREP.reading.assignment-label { color: saddlebrown; }

.day-box.PREP.readinglabel {color: saddlebrown;}

.day-box.PREP.prep-box {}

.day-box.CURRENT { padding: 10px;
                   margin: 10px; 
                   background-color: sienna;}

.day-box.COMPLETED { padding: 10px;
                     margin: 10px;
                     background-color: sienna; }

.reading-box { padding: 10px; }

.assignment-label { font-size: 200%; }

.reading { color: mediumturquoise;
           padding: 5px; }

.prep-box { padding: 5px;
            color: saddlebrown;}

.assignment_link { color: saddlebrown;
                   padding: 5px; }

img {   width: 80px;
        height: 110px; }
