body {  background-color: lightcyan;
        font-family: Bookman;
        border: 2px solid conflowerblue;
        padding: 10px;
        algin: center; }

.username { color: darkcyan; }

.nav { border: 2px solid cornflowerblue;
        padding: 10px; }
.header { text-align: center; 
          padding: 10px; }

h1  {   color: royalblue; }

.day {  font-size: 125%; 
        color: crimson; }

.day-box.PREP { padding: 10px; 
                border: 5px solid navy; }

.day-box.CURRENT { padding: 10px;
                   margin: 10px; 
                   color: khaki; }
.day-box.COMPLETED { padding: 10px;
                     margin: 10px;
                     color: darkkhaki; }

.reading-box { border: 2px solid lightseagreen;
               padding: 10px; }

.assignment-label { font-size: 200%; }

.reading { color: mediumturquoise;
           border: 2px solid lightseagreen;
           padding: 5px; }

.prep-box { color: mediumturqouise;
            border: 2px solid lightseagreen; }

.assignment_link { color: mediumturqouise;
                   border: 2px solid lightseagreen;
                   padding: 5px; }

img {   width: 80px;
        height: 110px; }
